<!DOCTYPE html>
<html lang="en">
<head>
	<title>Burgers!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    $(document).ready () {
    function () {

    var thing = $(".change-devoured");

    console.log(thing);
    }
    }
    </script>
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="./burgerapp.js"></script>      
</head>
	<body>
		{{{ body }}}
	</body>




</html>