
<h1>Eat - Da - Burgers!</h1>

<h2>Burgers to be Devoured</h2>

<ul>
{{#each burger}}
    {{#unless devoured}}
        {{> burgers/burg-block devoured=false}}
    {{/unless}}
{{/each}}
</ul>

<h2>Burgers Devoured</h2>

<ul>
{{#each burger}}
    {{#unless devoured}}
        {{> burgers/burg-block devoured=true}}
    {{/unless}}
{{/each}}
</ul>


<h2>Add a Burger</h2>

<form class="create-burg">
      <div class="form-group">
    <label for="bg">Burger Name:</label>
    <input type="text" id="bg" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Devour Me!
  </div>
</form>