
<h1>Eat - Da - Burgers!</h1>

<div class="row">

    <div class="col-lg-4">

        <h2>Burgers to be Devoured</h2>

        <ul>
            {{#each burger}}
                {{#unless devoured}}

                    {{> burgers/burg-block }}
                
                {{/unless}}
                 
            {{/each}}
        </ul>

    </div>

    <div class="col-lg-4" id="mid-block">
        <h2>Add a Burger</h2>

        <form class="create-burg" action="/" type="POST">

            
                <label for="bg">Burger Name:</label>
                <input type="text" id="bg" name="burger_name">
            

            
                <label for="devoured">Devoured?</label><br>
                <input type="radio" name="devoured" value="1" checked> Devoured!<br>
                <input type="radio" name="devoured" value="0"> Devour Me!
            

            <button class="btn btn-primary" id="submitBurg" action="submit" onclick="subBurg()">Add Burger</button>

        </form>

    </div>


    <div class="col-lg-4">

        <h2>Burgers Devoured</h2>

        <ul>
            {{#each burger}}
                {{#if devoured}}
                    {{> burgers/burg-block }}
                {{/if}}
            {{/each}}
        </ul>

    </div>

</div>

